<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="suite">
<listeners>
<listener class-name="Javapractice.Listeners">
</listener>
</listeners>
 <test name="Javapractice">
<classes>
<class name="Javapractice.PrimeNumbers"/>
<class name="Javapractice.Polindrome"/>
</classes>
 </test>
</suite>
